In [1]:
import pandas as pd

import nltk
from nltk.tokenize import TreebankWordTokenizer

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
from sklearn.metrics import f1_score

In [2]:
# 전처리 끝낸 데이터 불러오기
raw = pd.read_csv('/Users/mac/AIFFEL/hackathon/new_musinsa(upcycling).csv', engine='python')
print(raw.shape)
raw.head()

(715, 12)

,Unnamed: 0,user,color,contents,category,ratings,gender,price,style,up_check,brand,url
0,0,멤버_464f9cc84f7d,기타,면,상의,5,남자,39000,0,0,119레오,https://www.musinsa.com/app/goods/1876547/0
1,1,멤버_464f9cc84f7d,카키,면,하의,5,남자,42000,0,0,119레오,https://www.musinsa.com/app/goods/2396824/0
2,2,멤버_464f9cc84f7d,기타,면,모자,5,남자,59000,0,0,119레오,https://www.musinsa.com/app/goods/2428013/0
3,3,멤버_464f9cc84f7d,블랙,면,상의,5,남자,35000,0,0,119레오,https://www.musinsa.com/app/goods/470357/0
4,4,멤버_464f9cc84f7d,아이보리,면 아라미드,가방,5,남자,48000,1,1,119레오,https://www.musinsa.com/app/goods/1766332/0

In [3]:
# 불필요한 컬럼 제거
raw.drop(['Unnamed: 0', 'user', 'up_check', 'url'], axis=1, inplace=True)
raw.head()

  color contents category  ratings gender  price  style  brand
0    기타        면       상의        5     남자  39000      0  119레오
1    카키        면       하의        5     남자  42000      0  119레오
2    기타        면       모자        5     남자  59000      0  119레오
3    블랙        면       상의        5     남자  35000      0  119레오
4  아이보리   면 아라미드       가방        5     남자  48000      1  119레오

In [4]:
# rating 2점 이상만 사용
orginal_data_size = len(raw)
raw = raw[raw['ratings']>=2]
filtered_data_size = len(raw)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 715, filtered_data_size: 714
Ratio of Remaining Data is 99.86%

In [6]:
# user 와 brand 를 제외한 컬럼을 features 로 합치기
cols = ['color', 'contents', 'category', 'ratings', 'gender', 'price', 'style']
raw['features'] = raw[cols].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)
raw.drop(cols, axis=1, inplace=True)
raw

     brand                        features
0    119레오            기타 면 상의 5 남자 39000 0
1    119레오            카키 면 하의 5 남자 42000 0
2    119레오            기타 면 모자 5 남자 59000 0
3    119레오            블랙 면 상의 5 남자 35000 0
4    119레오     아이보리 면 아라미드 가방 5 남자 48000 1
..     ...                             ...
710  플리츠마마  기타 폴리에스터 폴리우레탄 가방 5 여자 59000 0
711  플리츠마마      아이보리 울 아크릴 모자 5 여자 35000 0
712  플리츠마마         베이지 아크릴 모자 5 여자 29000 0
713  플리츠마마     블랙 면 폴리에스터 상의 5 여자 138000 0
714  플리츠마마  블랙 폴리에스터 폴리우레탄 가방 5 여자 39000 0

[714 rows x 2 columns]

In [7]:
# Test set / Train set 나누기
X_train, X_test, y_train, y_test = train_test_split(raw.features, raw.brand, test_size=0.2, random_state=4)

print('#Train set size: ', len(X_train))
print('#Test set size: ', len(X_test))

#Train set size:  571
#Test set size:  143

In [8]:
X_train[:10]

321              기타 면 상의 5 남자 27500 0
80         그린 면 폴리에스터 상의 5 여자 59000 0
463              블랙 면 상의 5 남자 39000 1
615           블랙 코듀라 가방 5 여자 119000 0
551           화이트 면 상의 5 알수없음 39000 0
533            아이보리 면 하의 5 남자 69000 0
421    기타 폴리에스터 폴리우레탄 가방 5 남자 88000 0
165          멀티 광고현수막 가방 5 여자 79000 1
190             블랙 면 하의 5 남자 109000 1
659          블랙 폴리에스터 가방 5 여자 59800 0
Name: features, dtype: object

In [9]:
X_test[:10]

384                   블랙 나일론 모자 5 남자 49900 0
262                  그린 나일론 상의 4 남자 395000 0
112    화이트 폴리에스터 레이온 폴리우레탄 상의 5 알수없음 12900 0
430                그레이 폴리에스터 모자 5 남자 27000 0
195          베이지 면 나일론 폴리우레탄 하의 5 남자 89000 0
33                     네이비 면 하의 5 여자 67000 0
604                 기타 폴리에스터 셋업 5 남자 55000 0
229                  화이트 면 상의 5 알수없음 49000 0
155               화이트 None 상의 5 알수없음 58000 0
83            블랙 폴리에스터 폴리우레탄 셋업 5 여자 92000 0
Name: features, dtype: object

In [10]:
# 토크나이저 사용하여 토큰화
tb_tokenizer = TreebankWordTokenizer()

# TF-IDF 벡터화 
tfidf = TfidfVectorizer(tokenizer=tb_tokenizer.tokenize, max_features=2000)

X_train_tfidf = tfidf.fit_transform(X_train)  # train set 을 변환
X_test_tfidf = tfidf.transform(X_test)  # test set 을 변환

print(X_train_tfidf[:10])
print()
print(X_test_tfidf[:10])

  (0, 0)	0.1459803129111718
  (0, 69)	0.8135805985198138
  (0, 186)	0.23253590034103686
  (0, 119)	0.13625637100236562
  (0, 201)	0.21813894863670513
  (0, 195)	0.20358598821633128
  (0, 184)	0.39383468468127536
  (1, 133)	0.6230064942617041
  (1, 207)	0.2618574915024688
  (1, 219)	0.2871286146360805
  (1, 183)	0.5446487506449104
  (1, 0)	0.1647601871990626
  (1, 119)	0.15378529300094843
  (1, 201)	0.24620178773462353
  (1, 195)	0.2297766381007797
  (2, 1)	0.4533810063674035
  (2, 97)	0.6091743469672026
  (2, 199)	0.35161463814332866
  (2, 186)	0.31661532537771425
  (2, 119)	0.18552341886319584
  (2, 201)	0.29701277995729086
  (2, 195)	0.2771978167969873
  (3, 13)	0.4773422579060124
  (3, 180)	0.3088076049646628
  (3, 212)	0.7380880782242846
  :	:
  (6, 0)	0.13199726369946999
  (6, 186)	0.21026193152214098
  (6, 119)	0.12320475121104946
  (6, 184)	0.3561103527672568
  (7, 157)	0.46504773223959994
  (7, 181)	0.5580882326491367
  (7, 194)	0.4568490270554881
  (7, 180)	0.31950755364449773
  (7, 1)	0.3125519056267708
  (7, 207)	0.21777487178838
  (7, 119)	0.12789617846737927
  (8, 8)	0.7498876298520842
  (8, 221)	0.32321861860505935
  (8, 1)	0.3559102626631042
  (8, 199)	0.27602227808452323
  (8, 186)	0.2485473410569593
  (8, 119)	0.14563840966078995
  (8, 195)	0.2176040601619431
  (9, 135)	0.8124060752771058
  (9, 180)	0.3399014044077677
  (9, 199)	0.25786809088672424
  (9, 207)	0.23167522620749365
  (9, 219)	0.2540335446000829
  (9, 0)	0.14576956886097703
  (9, 119)	0.13605966489236193

  (0, 199)	0.3047605197029662
  (0, 196)	0.46478022406550074
  (0, 186)	0.2744250114772041
  (0, 185)	0.44522753192557857
  (0, 119)	0.1608016487833796
  (0, 118)	0.6016868790097816
  (0, 0)	0.1722772655204692
  (1, 201)	0.2663655298225799
  (1, 186)	0.2839453874890853
  (1, 185)	0.4606734036118241
  (1, 183)	0.5892550755525471
  (1, 99)	0.5071572058624358
  (1, 0)	0.17825392317723604
  (2, 222)	0.3943364701978062
  (2, 220)	0.30840935492918997
  (2, 219)	0.21633372847189086
  (2, 206)	0.2762577020911016
  (2, 201)	0.1854978848575662
  (2, 189)	0.3753854946496691
  (2, 119)	0.1158677474942854
  (2, 19)	0.6496959591011717
  (2, 0)	0.12413665438979556
  (3, 219)	0.3733267690467555
  (3, 196)	0.5779424625738341
  (3, 186)	0.3412405664287397
  :	:
  (6, 184)	0.37858396085410845
  (6, 129)	0.6191868655581181
  (6, 119)	0.13098002444205498
  (6, 0)	0.14032741964654374
  (7, 222)	0.5525375192593932
  (7, 206)	0.3870875684238627
  (7, 201)	0.2599164644235191
  (7, 195)	0.24257635142215614
  (7, 119)	0.16235190655977627
  (7, 117)	0.6015422056952154
  (7, 0)	0.17393815751125496
  (8, 222)	0.44338752976083773
  (8, 206)	0.31062107962303415
  (8, 201)	0.20857175320760923
  (8, 179)	0.4976518053753348
  (8, 132)	0.6158795194538995
  (8, 119)	0.1302804032167591
  (8, 0)	0.13957786992173699
  (9, 220)	0.43037149221888865
  (9, 219)	0.30188406431802295
  (9, 207)	0.27531426607229537
  (9, 202)	0.7055435317840003
  (9, 199)	0.30644089723412166
  (9, 119)	0.16168827109867065
  (9, 0)	0.17322716167628244

In [11]:
# sklearn 에서 제공하는 Decision Tree 를 이용
tree = DecisionTreeClassifier(random_state=7)  # 분류기 선언

# train data를 이용해 분류기를 학습
tree.fit(X_train_tfidf, y_train)

# score 확인
print('#Decision Tree train set score: {:.3f}'.format(tree.score(X_train_tfidf, y_train)))
print('#Decision Tree test set score: {:.3f}'.format(tree.score(X_test_tfidf, y_test)))

#Decision Tree train set score: 0.991
#Decision Tree test set score: 0.392

In [12]:
# 오차행렬, 정확도, 정밀도, 재현율을 한번에 출력하기 위한 함수 정의

pred = tree.predict(X_test_tfidf)

def get_tree_eval(y_test, pred):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred, average='micro')
    recall = recall_score(y_test, pred, average='micro')
    print('Confusion Matrix')
    print(confusion)
    print('정확도:{}, 정밀도:{}, 재현율:{}'.format(accuracy, precision, recall))

In [13]:
get_tree_eval(y_test, pred)

Confusion Matrix
[[ 5  0  2  0  1  4]
 [ 5 13  9  1  2  8]
 [ 2  9 18  4  0  3]
 [ 0  2  3  0  0  0]
 [ 0  0  2  1  1  0]
 [ 5 11  6  3  4 19]]
정확도:0.3916083916083916, 정밀도:0.3916083916083916, 재현율:0.3916083916083916

In [14]:
# f1-score
f1 = f1_score(y_test, pred, average='micro')
print('f1 score :', f1)

f1 score : 0.3916083916083916

In [15]:
print('실제브랜드, 예측한브랜드, features')
for content in zip(y_test[:10], tree.predict(X_test_tfidf[:10]), X_test[:10]):
    print(content)

실제브랜드, 예측한브랜드, features
('오버랩업사이클', '오버랩업사이클', '블랙 나일론 모자 5 남자 49900 0')
('오버랩업사이클', '누깍', '그린 나일론 상의 4 남자 395000 0')
('누깍', '오버랩업사이클', '화이트 폴리에스터 레이온 폴리우레탄 상의 5 알수없음 12900 0')
('오버랩업사이클', '오버랩업사이클', '그레이 폴리에스터 모자 5 남자 27000 0')
('누깍', '누깍', '베이지 면 나일론 폴리우레탄 하의 5 남자 89000 0')
('119레오', '플리츠마마', '네이비 면 하의 5 여자 67000 0')
('플리츠마마', '누깍', '기타 폴리에스터 셋업 5 남자 55000 0')
('누깍', '플리츠마마', '화이트 면 상의 5 알수없음 49000 0')
('누깍', '오버랩업사이클', '화이트 None 상의 5 알수없음 58000 0')
('누깍', '플리츠마마', '블랙 폴리에스터 폴리우레탄 셋업 5 여자 92000 0')